#cardHolder {
    background-color: var(--colorsecond);
    bottom: 0;
    display: flex;
    height: 220px;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
}

#cardHolder > .card {
    margin-top: -150px;
}

@media (max-width: 999px) {
    #cardHolder {
        flex-direction: column;
        height: auto;
        padding: 20px;
        position: unset;
    }

    #cardHolder > .card {
        margin: 20px auto;
    }

    #cardHolder > p {
        display: none;
    }
}