.contentContainer {
    background: var(--colorfirst) url('../../images/background-tile(1).png') fixed;
    box-sizing: border-box;
    height: 100vh;
    scroll-snap-align: center;
}

.content {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}

.content > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    padding: 50px 20px 0 20px;
    width: 40%;
    min-width: 600px;
}

.content > div > article {
    margin: auto;
    text-align: justify;
}

.contentTypeA {
    background-color: var(--colorsecond);
    /** border-top-style: groove; **/
    border-bottom: 50px ridge var(--colorfirst);
    border-top: 50px none var(--colorfirst);
}

.contentTypeA > div {
    background-color: var(--colorfourth);
}

@media (max-width: 999px) {
    .contentContainer {
        height: auto;
        min-height: 100vh;
    }

    .content {
        height: auto;
        min-height: 100vh;
    }

    .content > div {
        max-width: 600px;
        min-width: unset;
        min-height: calc(100vh - 50px);
        width: 100%;
    }
}