.absolute {
    left: 0;
    position: absolute;
    top: 0;
}

.fixed {
    left: 0;
    position: fixed;
    top: 0;
}

.width100 {
    box-sizing: border-box;
    width: 100%;
}

.displayNone {
    display: none;
}