.absolute {
    left: 0;
    position: absolute;
    top: 0;
}

.fixed {
    left: 0;
    position: fixed;
    top: 0;
}

.width100vw {
    box-sizing: border-box;
    width: 100vw;
}

.displayNone{
    display: none;
}