@font-face {
    font-family: 'ralewayregular';
    src: url('./fonts/Raleway/raleway-regular-webfont.woff2') format('woff2'),
    url('./fonts/Raleway/raleway-regular-webfont.woff') format('woff'),
    url('./fonts/Raleway/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --colorfirst: #1fab89;
    --colorsecond: #62d2a2;
    --colorthird: #9df3c4;
    --colorfourth: #d7fbe8;
    --colorfifth: #ad0031;
}

html, body {
    font-family: ralewayregular, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 999px) {
    html {
        scroll-snap-type: none;
    }
}